@font-face {
  font-family: "interBold";
  src: url("font/Inter/Inter_24pt-Bold.ttf");
}
@font-face {
  font-family: "interBlack";
  src: url("font/Inter/Inter_24pt-BlackItalic.ttf");
}
:root {
  --couleurPrincipale: #EE6F00;
  --couleurSecondaire: #050B32;
  --couleurBordures: #371D06;
  --formeBtnBurger: polygon(10% 0, 100% 0%, 90% 100%, 0% 100%);
  font-family: interBold;
}

html {
  position: relative;
  background-color: var(--couleurPrincipale);
  background-image: url("images/motifSite.png");
  background-size: contain;
}

header {
  display: flex;
  flex-flow: nowrap row;
  justify-content: space-between;
}
header .logoSite {
  width: 5rem;
  height: auto;
}
header nav {
  display: flex;
  flex-flow: nowrap column;
  justify-content: center;
}
header nav #chkBurger {
  display: none;
}
header nav #chkBurger:checked ~ .conteneurContenuNav {
  z-index: 0;
}
header nav #chkBurger:checked ~ .conteneurContenuNav .contenuNav {
  transform: skew(-10deg) translateX(22%) translateY(40%);
}
header nav .burger {
  z-index: 2;
  display: flex;
  background-color: var(--couleurSecondaire);
  width: 3rem;
  height: 3rem;
  transform: skew(-10deg);
  justify-content: center;
  align-items: center;
}
header nav .burger .burgerInt {
  width: 85%;
  height: 85%;
  border: 1.5px solid var(--couleurPrincipale);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}
header nav .burger .burgerInt .ligneBurger {
  margin: 0.3rem;
  width: 85%;
  height: 5%;
  background-color: var(--couleurPrincipale);
}
header nav .conteneurContenuNav {
  z-index: -1;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
header nav .conteneurContenuNav .contenuNav {
  z-index: 2;
  width: 75vw;
  height: 50vh;
  transform: skew(-10deg) translateX(200%) translateY(40%);
  background-color: var(--couleurSecondaire);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 6px 5px 16px 1px #6b747b;
  transition: transform 1s;
}
header nav .conteneurContenuNav .contenuNav .navInt {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  height: 97%;
  width: 97%;
  border: 1.5px solid var(--couleurPrincipale);
}
header nav .conteneurContenuNav .contenuNav .navInt .optionNav {
  background-color: var(--couleurPrincipale);
  color: var(--couleurSecondaire);
  width: 90%;
  height: 30%;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.75rem;
}

.accueil {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.accueil .video {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 70%;
}
.accueil .video iframe {
  height: 9rem;
  width: 16rem;
}
.accueil .video .lesBtns {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
.accueil .video .lesBtns a {
  background-color: ghostwhite;
  color: black;
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
.accueil .video .lesBtns img {
  width: 5rem;
  height: auto;
}

.thoughtProcess {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 1rem;
  margin-bottom: 4rem;
}
.thoughtProcess .section {
  position: relative;
  background-color: var(--couleurSecondaire);
  width: 95%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  transform: skewY(-5deg);
}
.thoughtProcess .section .titreTexte {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  background-color: #048AFF;
  padding: 0.5rem;
  transform: skew(4deg);
  position: absolute;
  top: -2rem;
  left: -0.25rem;
  clip-path: polygon(0% 0, 100% 0, 90% 100%, 0% 100%);
  width: 50%;
}
.thoughtProcess .section .sectionInt {
  background-image: url("images/motifSection.png");
  background-size: 5rem;
  border: 1px solid var(--couleurPrincipale);
  width: 100%;
  padding: 0.25rem;
  padding-top: 3rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.thoughtProcess .section .sectionInt .partieImg {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  transform: skewY(4deg);
}
.thoughtProcess .section .sectionInt .partieImg img {
  max-height: 5rem;
  width: auto;
  margin-bottom: 1rem;
}
.thoughtProcess .section .sectionInt p {
  transform: skewY(4deg);
  color: white;
  font-size: 0.75rem;
}

.titreSection {
  background-color: var(--couleurSecondaire);
  align-self: flex-start;
  width: 60%;
  padding: 0.3rem;
  transform: rotate(-5deg) skew(-5deg);
  margin-bottom: 3rem;
}
.titreSection .titreSectionInt {
  border: 1px solid var(--couleurPrincipale);
  padding: 0.3rem;
}
.titreSection .titreSectionInt h1.texteTitre {
  color: var(--couleurPrincipale);
  font-size: 1.5rem;
  margin: 0;
}

@media (min-width: 768px) {
  .titreSection {
    width: 30%;
  }
  .thoughtProcess .section {
    width: 70%;
  }
  .thoughtProcess .section .titreTexte {
    width: 50%;
  }
}
@media (min-width: 1024px) {
  .thoughtProcess .section .titreTexte {
    width: 30%;
  }
}
.journalDeBord {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 1rem;
  margin-bottom: 1rem;
}
.journalDeBord .jdbBtns {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  transform: rotate(-5deg);
}
.journalDeBord .jdbBtns .btnjdb {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 2rem;
  padding: 2rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  transform: skew(-5deg);
  background-color: var(--couleurBordures);
  margin-bottom: 1rem;
  box-shadow: 5px 4px 10px rgba(93, 93, 93, 0.4705882353);
  flex-basis: 15%;
}
.journalDeBord .jdbBtns .btnjdb .partieVisible {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 75%;
  width: 80%;
  color: var(--couleurBordures);
  background-color: var(--couleurPrincipale);
}
.journalDeBord .jdbBtns .btnjdb .partieCachee {
  color: var(--couleurPrincipale);
}
.journalDeBord .jdbBtns .style1 {
  clip-path: polygon(3% 0, 100% 0, 95% 70%, 97% 100%, 0 100%, 5% 30%);
}
.journalDeBord .jdbBtns .style2 {
  clip-path: polygon(4% 0, 100% 0, 95% 50%, 100% 100%, 7% 100%, 0% 70%);
}
.journalDeBord .jdbBtns .style3 {
  clip-path: polygon(5% 0, 93% 0, 100% 30%, 95% 100%, 5% 100%, 0% 50%);
}
.journalDeBord .jdbBtns .fleche {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.journalDeBord .jdbBtns .fleche .ligneFleche {
  clip-path: polygon(0% 0, 100% 0, 100% 15%, 80% 25%, 100% 35%, 100% 100%, 20% 100%, 0% 75%);
  background-color: var(--couleurBordures);
  width: 1rem;
  height: 3.5rem;
}
.journalDeBord .jdbBtns .fleche .flecheFleche {
  clip-path: polygon(5% 20%, 60% 25%, 60% 10%, 100% 50%, 60% 90%, 60% 75%, 5% 80%, 5% 50%, 0% 40%, 5% 30%);
  background-color: var(--couleurBordures);
  width: 3.5rem;
  height: 5.5rem;
}
.journalDeBord .contenuSemaine {
  padding: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: auto;
  transform: skew(-5deg);
  margin-top: 2rem;
  background-color: var(--couleurSecondaire);
}
.journalDeBord .contenuSemaine .semInt {
  background-image: url("images/motifSection.png");
  background-size: 5rem;
  border: 1px solid var(--couleurPrincipale);
  width: 100%;
  min-height: 20vh;
  padding: 0.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.journalDeBord .contenuSemaine .semInt img {
  max-height: 5rem;
  width: auto;
}
.journalDeBord .contenuSemaine .semInt p {
  color: white;
  font-size: 0.75rem;
}

@media (min-width: 768px) {
  .journalDeBord .contenuSemaine .semInt {
    flex-direction: row;
    justify-content: space-around;
    padding: 0.5rem;
  }
  .journalDeBord .contenuSemaine .semInt img {
    flex-basis: 30%;
    max-height: none;
    max-width: 15rem;
    height: auto;
  }
  .journalDeBord .contenuSemaine .semInt p {
    align-self: start;
    line-height: 1.25rem;
    flex-basis: 60%;
    margin: 0;
  }
}
@media (min-width: 1024px) {
  .journalDeBord .contenuSemaine {
    width: 70%;
  }
}
footer {
  background-color: var(--couleurBordures);
  color: var(--couleurPrincipale);
  font-family: interBlack;
  background-image: url(images/logoFooter.png);
  background-size: 14rem;
  background-repeat: no-repeat;
  background-position: -3rem 1rem;
  display: flex;
  justify-content: end;
  display: flex;
  justify-content: end;
}
footer .conteneurFooter {
  flex-basis: 50%;
}
footer .conteneurFooter ul {
  list-style: none;
  padding-left: 1rem;
}
footer .conteneurFooter ul li {
  margin-bottom: 0.5rem;
}
footer .conteneurFooter ul li a {
  color: var(--couleurPrincipale);
  text-decoration: none;
  display: flex;
  align-items: center;
}
footer .conteneurFooter ul li a svg {
  height: 2rem;
  width: auto;
  margin-right: 0.5rem;
}

@media (min-width: 1024px) {
  footer {
    background-position: -2rem -2rem;
  }
  footer .conteneurFooter ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}/*# sourceMappingURL=style.css.map */