html{
    position: relative;
    background-color: var(--couleurPrincipale);
    background-image: url("images/motifSite.png");
    background-size: contain;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}