header{
    // border: 10px solid red;

    display: flex;
    flex-flow: nowrap row;
    justify-content: space-between;

    .logoSite{
        width: 5rem;
        height: auto;
    }

    nav{
        display: flex;
        flex-flow: nowrap column;
        justify-content: center;
        position: relative;

        #chkBurger{
            display: none;
        }
        #chkBurger:checked ~ .contenuNav {
           transform: skew(-10deg) translateX(-77%) translateY(90%)
        }

        .burger{
            display: flex;
            background-color: var(--couleurSecondaire);
            width: 3rem;
            height: 3rem;
            transform: skew(-10deg);

            justify-content: center;
            align-items: center;

            .burgerInt{
                width: 85%;
                height: 85%;
                border: 1.5px solid var(--couleurPrincipale);

                display: flex;
                flex-flow: column nowrap;
                justify-content: space-between;
                align-items: center;

                .ligneBurger{
                    margin: 0.3rem;
                    width: 85%;
                    height: 5%;
                    background-color: var(--couleurPrincipale);
                }
            }
        }

        .contenuNav{
            position: absolute;
            width: 76vw;
            height: 50vh;
            transform: skew(-10deg) translateX(100%) translateY(90%);
            background-color: var(--couleurSecondaire);
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 6px 5px 16px 1px #6b747b;;

            transition: transform 1s;

            
            .navInt{
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                justify-content: space-around;
                height: 97%;
                width: 97%;
                border: 1.5px solid var(--couleurPrincipale);

                .optionNav{
                    // font-family: interBlack;
                    background-color: var(--couleurPrincipale);
                    color: var(--couleurSecondaire);
                    width: 90%;
                    height: 30%;
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.75rem;
                }
            }
        }
    }
}