.journalDeBord{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    position: relative;

    &::before{
        position: absolute;
        content: "";
        width: 7%;
        height: 20%;
        top: -4rem;
        left: 0rem;
        background: var(--couleurBordures);
        clip-path: polygon(0 0%, 100% 0, 0 100%); 
    }
    &::after{
        position: absolute;
        content: "";
        width: 7%;
        height: 100%;
        top: 2rem;
        left: 93vw;
        background: var(--couleurBordures);
        clip-path: polygon(10% 100%, 100% 85%, 100% 100%);
    }

    .jdbBtns{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        transform: rotate(-5deg);
        width: 70%;

        .btnjdb{
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            height: 2rem;
            padding: 2rem;
            padding-top: 0.75rem;
            padding-bottom: 0.75rem;
            transform: skew(-5deg);
            background-color: var(--couleurBordures);
            margin-bottom: 1rem;
            box-shadow: 5px 4px 10px #5d5d5d78;
            flex-basis: 15%;
    
            .partieVisible{
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                height: 75%;
                width: 80%;
                color: var(--couleurBordures);
                background-color: var(--couleurPrincipale);
            }
    
            .partieCachee{
                color: var(--couleurPrincipale);
            }
        }

        .style1{
            clip-path: polygon(3% 0, 100% 0, 95% 70%, 97% 100%, 0 100%, 5% 30%);
        }
        .style2{
            clip-path: polygon(4% 0, 100% 0, 95% 50%, 100% 100%, 7% 100%, 0% 70%);
        }
        .style3{
            clip-path: polygon(5% 0, 93% 0, 100% 30%, 95% 100%, 5% 100%, 0% 50%);
        }

        .fleche{
            display: flex;
            flex-flow: row nowrap;
            align-items: center;

            .ligneFleche{
                clip-path: polygon(0% 0, 100% 0, 100% 15%, 80% 25%, 100% 35%, 100% 100%, 20% 100%, 0% 75%);
                background-color: var(--couleurBordures);
                width: 1rem;
                height: 3.5rem;
            }

            .flecheFleche{
                clip-path: polygon(5% 20%, 60% 25%, 60% 10%, 100% 50%, 60% 90%, 60% 75%, 5% 80%, 5% 50%, 0% 40%, 5% 30%);
                background-color: var(--couleurBordures);
                width: 3.5rem;
                height: 5.5rem;
            }
        }
        
    }

    .contenuSemaine{
        padding: 0.25rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: auto;
        transform: skew(-5deg);
        margin-top: 2rem;

        background-color: var(--couleurSecondaire);

        .semInt{
            background-image: url("images/motifSection.png");
            background-size: 5rem;
            border: 1px solid var(--couleurPrincipale);
            width: 100%;
            min-height: 20vh;
            padding: 0.5rem;
            padding-top: 2rem;
            padding-bottom: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            
            img{
                max-height: 5rem;
                width: auto;
            }

            p{
                color: white;
                font-size: 0.75rem;
            }
        }
    }
}

@media (min-width: 768px){
    .journalDeBord{
        width: 90%;

        &::before{
            left: -5vw;
        }
        &::after{
            left: 88.7vw;
            clip-path: polygon(10% 100%, 100% 65%, 100% 100%);
        }
        
        .contenuSemaine{
            .semInt{
                flex-direction: row;
                justify-content: space-around;
                padding: 0.5rem;

                img{
                    flex-basis: 30%;
                    max-height: none;
                    max-width: 15rem;
                    height: auto;
                }
    
                p{
                    align-self: start;
                    line-height: 1.25rem;
                    flex-basis: 60%;
                    margin: 0;
                }
            }
        }
    }
}
@media (min-width: 1024px){
    .journalDeBord{
        .contenuSemaine{
            width: 70%;
        }
    }
}