.thoughtProcess{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 1rem;
    margin-bottom: 4rem;

    .section{
        position: relative;
        background-color: var(--couleurSecondaire);
        width: 95%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0.5rem;
        transform: skewY(-10deg);
        
        .titreTexte{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            color: white;
            background-color: #048AFF;
            padding: 0.5rem;
            transform: skew(10deg);
            position: absolute;
            top: -2rem;
            left: -0.25rem;
            clip-path: polygon(0% 0, 100% 0, 90% 100%, 0% 100%);
            width: 50%;
        }
        
        .sectionInt{
            background-image: url("images/motifSection.png");
            background-size: 5rem;
            border: 1px solid var(--couleurPrincipale);
            width: 100%;
            padding: 0.25rem;
            padding-top: 3rem;
            padding-bottom: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .partieImg{
                width: 90%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                transform: skewY(10deg);

                img{
                    max-height: 5rem;
                    width: auto;
                    margin-bottom: 1rem;
                }
            }
            
            p{
                transform: skewY(10deg);
                color: white;
                font-size: 0.75rem;
            }
        }
    }
}

.titreSection{
    background-color: var(--couleurSecondaire);
    align-self: flex-start;
    width: 60%;
    padding: 0.3rem;
    transform: rotate(-5deg) skew(-10deg);
    margin-bottom: 3rem;
        
    .titreSectionInt{
        border: 1px solid var(--couleurPrincipale);
        padding: 0.3rem;

        h1.texteTitre{
            color: var(--couleurPrincipale);
            font-size: 1.5rem;
            margin: 0;
        }
    }
}